<div class="jumbotron text-center">
  <h1>Login Page</h1>
  <div class="container">    
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                  
			<!-- Div Panel -->
			<div class="panel panel-success" >
					<!-- Panel Heading -->
					<div class="panel-heading">
						<div class="panel-title">Sign In</div>
					</div><!-- End panel heading -->
					<!-- Panel body -->
					<div class="panel-body" >
						<form class="form-horizontal" name="loginForm" novalidate autocomplete="off" method="POST" ng-submit="login(loginForm)">
							<!-- Username -->
							<div class="input-group input-username" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid }">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email" required/>
                            </div>
							<p class="help-block" ng-if="loginForm.email.$invalid && loginForm.email.$dirty">Please Enter a valid email address</p>
                            <!-- Password -->
							<div class="input-group input-password" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" ng-minLength="8" required/>
                            </div>
                            <p class="help-block" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">Please Enter at least 8 characters</p>
                            <div class="form-group login-button">
								<div class="col-sm-12 controls">
									<button class="btn login-button" ng-disabled="loginForm.emails.$invalid || loginForm.password.$invalid">Sign In</button>
								</div>
							</div>
						</form><!-- ENd form -->     
					</div><!-- ENd panel body -->
			</div><!-- End panel group -->  
		</div><!-- End col div -->
	</div><!-- End container -->
</div>