body{
	background-color: #eee;
}
.input-username, .input-password, .checkbox_remember, .login-button {
	margin-top:15px;
}
.jokesPageHeader{
	float: right;
}
.panel {
	padding: 15px;
}
.media-body p {
	text-align: left;
	padding-right: 30px;
	margin-top: 5px;
}